<body>
  <div class="box">
    <div #btn class="btn btn-base">
      Modify me!
    </div>
    <h2>Color</h2>
    <select #classe1 (change)="0">
      <option>None</option>
      <option value="btn-red">Red</option>
      <option value="btn-green">Green</option>
      <option value="btn-blue">Blue</option>
    </select>

    <h2>Visibility</h2>
    <select #classe2 (change)="0">
      <option value="true">Visible</option>
      <option value="false">Invisible</option>
    </select>

    <h2>Size</h2>
    <select #classe3 (change)="0">
      <option >None</option>
      <option value="big">Big</option>
      <option value="small">Small</option>
    </select>

    <br>
    <div class="btn-base"
      [style.background-color]="classe1.value == 'btn-green' ? 'green' : 
      classe1.value == 'btn-red' ? 'red' : 
      classe1.value == 'btn-blue' ? 'blue' : null "

      [style.display] ="classe2.value == 'true' ? 'block' : 'none'"

      [style.height] = "classe3.value == 'small' ? '40px' : 
      classe3.value == 'big' ? '130px' : '40px'  "

      [style.width] = "classe3.value == 'small' ? '120px' : 
      classe3.value == 'big' ? '200px' : '190px '  "

      ></div>


  </div>
</body>